@import "fonts.scss";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  :root, html {
    @apply font-sans bg-warm-200;
  }
  * {
    cursor: none !important;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
  }
  *:focus {
    outline: none;
    box-shadow: 0;
  }
  
  *::-webkit-scrollbar { 
      display: none;  /* Safari and Chrome */
  }
}

h1, h2, h3, h4, h5, form p, form input, form button {
  @apply font-serif;
  font-weight: 800;
}

%button {
 background-size: contain;
 background-repeat: no-repeat;
 padding: 20px 50px;
 background-position: center;
 @apply font-serif font-bold hover:scale-110 active:duration-0 active:translate-x-2 active:translate-y-2 disabled:opacity-50 hover:disabled:scale-100;

 &.small {
  padding: 10px 30px;
 }
}

.button_pink {
  @extend %button;
  background-image: url("/images/button_pink.png");
}

.button_teal {
  @extend %button;
  background-image: url("/images/button_teal.png");
}

.button_yellow {
  @extend %button;
  background-image: url("/images/button_yellow.png");
}

.fade-enter-active,
.fade-leave-active {
  transition: all 0.4s;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

@keyframes bounce-in {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.25);
  }
  100% {
    transform: scale(1);
  }
}

.scale-enter-active {
  animation: bounce-in 0.5s;
}
.scale-leave-active {
  animation: bounce-in 0.5s reverse;
}

.slideLeft-enter-active,
.slideLeft-leave-active {
  transition: all 0.4s ease-in-out;
}

.slideLeft-enter-from,
.slideLeft-leave-to {
  translate: transformX(-100%);
}